
  <footer>

    <div class="container">

      <div class="row">

        <div class="col-md-3">

            <img src='/assets/img/Untitled design(2).png' alt="Ovago Logo" width="100px">
            <p>TripRobotics Inc., 1000 N. West Street,  California CST: 2157896</p>
        </div>

        <div class="col-md-3">

          <h4>Information</h4>

          <ul>

            <li><a href="#">About Us</a></li>

            <li><a href="#">Privacy Policy</a></li>

            <li><a href="#">Terms & Conditions</a></li>

          </ul>

        </div>

        <div class="col-md-3">

          <h4>Company</h4>

          <ul>

            <li><a href="#">Careers</a></li>

            <li><a href="#">Blog</a></li>

            <li><a href="#">Contact Us</a></li>

          </ul>

        </div>

        <div class="col-md-3">

          <h4>Payment Methods</h4>

          <ul class="payment-methods">

            <li><img src='/assets/img/footer-payment-social.svg' alt="Visa" width="100px"></li>

            

          </ul>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <p class="text-center">Stay updated with the latest news by following us on social media.</p>

        </div>

      </div>

      <!-- <div class="row">

        <div class="col-md-12">

          <ul class="social-links">

            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>

            <li><a href="#"><i class="fab fa-twitter"></i></a></li>

            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

          </ul>

        </div>

      </div> -->

    </div>

  </footer>