<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/da82c552d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <section class="section1 padding_bottem">
        <div class="bg_img layer">

            <h1 class="layer">Blog</h1>
        </div>
    </section>
    <div class="container">
        <section class="section2 padding_bottem">
            <h2>Flight Information</h2>
            <div class="d_flex">
                <div>
                    <div class="circle">
                        <h3>100K+</h3>
                    </div>
                    <h4>Arrival</h4>
                </div>
                <div>
                    <div class="circle">
                        <h3>100K+</h3>
                    </div>
                    <h4>Deparcher</h4>
                </div>
                <div>
                    <div class="circle">
                        <h3>0</h3>
                    </div>
                    <h4>Downfall</h4>
                </div>
                <div>
                    <div class="circle">
                        <h3>1CR+</h3>
                    </div>
                    <h4>Feedback</h4>
                </div>
            </div>
        </section>
        <section class="section3 padding_bottem">
            <div class="brand">
                <h1>We are collaborated with world best top branded airline</h1>
                <div class="d_flex padding1">
                    <div class="brand_name w_50">
                        <h6>1. Delta</h6>
                    </div>
                    <div class="details1 w_50">
                        <div class="pad">
                        <p>one of the oldest airlines in the world, </p>
                        <p>Delta claimed the title of the</p>
                        <p>world’s most valuable airline brand</p>
                        <p>with a remarkable 22% increase in brand value</p>
                        <p>totaling US$8.9 billion. </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="d_flex padding1">
                
                <div class="details2 w_50">
                    <div class="pad">
                    <p>American Airlines, which holds the title of the world’s largest airline in terms of fleet size </p>
                    <p>scheduled passengers carried and revenue passenger miles</p>
                    <p> boasts an impressive brand value of US$8.5 billion.</p>
                    <p>with a remarkable 36% increase in brand value</p>
                    <p>American Airlines has experienced a significant 36% growth in brand value.  </p>
                    </div>
                </div>
                <div class="brand_name right w_50">
                    <h6>2. American Airlines </h6>
                </div>
            </div>



            <div class="d_flex padding1">
                <div class="brand_name w_50">
                    <h6>3. United Airlines </h6>
                </div>
                <div class="details3 w_50">
                    <div class="pad">
                    <p>United Airlines, the second-largest airline in the US </p>
                    <p>has witnessed a remarkable growth of 42% in its brand value this year</p>
                    <p>reaching an impressive US$7.8 billion.</p>
                    <p> United Airlines has maintained its position with the same spot in the list as last year. </p>
                    </div>
                </div>
            </div>





            <div class="d_flex padding1">
                
                <div class="details4 w_50">
                    <div class="pad">
                    <p>Emirates, the most valuable airline in the Middle East, has witnessed a 2% increase in its brand value</p>
                    <p>  reaching an impressive value of US$5.1 billion and retaining the 4th spot in the list from last year. </p>
                    <p>The airline has played a pivotal role in driving the recovery of travel and tourism to the United Arab Emirates (UAE). </p>
                    </div>
                </div>
                <div class="brand_name right w_50">
                    <h6>4. Emirates  </h6>
                </div>
            </div>






            <div class="d_flex padding1">
                <div class="brand_name w_50">
                    <h6>5. Southwest Airlines </h6>
                </div>
                <div class="details5 w_50">
                    <div class="pad">
                    <p>Southwest Airlines, a prominent United States (US)-based airline, holds the distinction of being the world’s largest low-cost carrier</p>
                    <p>Despite being the only airline on our list to experience a decline in brand value, dropping by -5% compared to last year</p>
                    <p> it has managed to maintain its position at the 5th spot with a valuation of US$4.7 billion. </p>
                    </div>
                </div>
            </div>







            <div class="d_flex padding1">
                
                <div class="details6 w_50">
                    <div class="pad">
                    <p>China Southern has experienced a significant surge,</p>
                    <p> with its brand value skyrocketing by 39% to reach an impressive US$3.2 billion.</p>
                    <p> This remarkable growth has propelled the airline from the 9th position in last year’s list up to 6th.  </p>
                    <p> China Southern has expanded its international capacity by a staggering 44% and has already recovered to over 25% of its pre-COVID capacity levels. </p>
                    </div>
                </div>
                <div class="brand_name right w_50">
                    <h6>6. China Southern </h6>
                </div>
            </div>
        </section>




        <section class="section4 padding_bottem">
            <h1>Landing Video</h1>
            <video controls>
                <source src="video/y2mate.so - Captain's view Breakoff landing Amsterdam - Boeing 747-400-KxaCvRwhh9w-720p-1717076905.mp4" type="video/mp4">
            </video>
        </section>
        <section class="section5 padding_bottem">
            
            <h1>This are our current blog</h1>
            <div>
                <div class="blog">
                    <h2>Q.  American Airlines Spin on Vasu Raja’s Firing: The Story That Doesn’t Add Up</h2>
                    <h3>A.  Bloomberg is reporting that Vasu Raja was let go by American Airlines because of a Bain consulting report saying that corporate customers and travel management companies were unhappy with American’s new systems that hey were supposed to be using. My understanding is that this is inaccurate</h3><div class="comment"><h4><i class="fa-solid fa-comment"></i> 100 comment</h4></div>
                </div>
                <div class="blog">
                    <h2>Q.  United Airlines Accused of Faking Unruly Passengers to Solve Business Class Overbooking Crisis At Newark</h2>
                    <h3>A.  Friday’s United Airlines Newark to Dubrovnik flight was reportedly oversold in business class. United doesn’t normally sell more tickets in business class than they have seats, and it doesn’t appear that the aircraft was swapped to one with a smaller business class cabin.Nobody would take the airline’s generous offers of compensation, even though “[t]hey offered 2500 and then 3000.”</h3><div class="comment"><h4><i class="fa-solid fa-comment"></i> 46 comment</h4></div>
                </div>
                <div class="blog">
                    <h2>Q.  Southwest Airlines Raises Prices: Early Boarding Fees Now Skyrocket Up To $149 Per Passenger (Families Could Pay $2,384 Roundtrip)</h2>
                        <h3>A.  Southwest Airlines doesn’t offer assigned seats, although that may be changing with a premium seat offering expected to be announced this fall.

                            In the meantime, even though they do not sell seat assignments, they still manage to earn hundreds of millions of dollars each year on their seats.</h3>
                            <div class="comment"><h4><i class="fa-solid fa-comment"></i> 50 comment</h4></div>
                </div>
                <div class="blog">
                    <h2>Q.  Delta Faces Backlash After Multiple Employees Spotted With Palestine Flag Pins</h2>
                    <h3>A.  A reader shared a complaint sent to Delta about a gate agent in Detroit working a flight to Atlanta who was wearing a Palestine flag pin on Wednesday.</h3>
                    <div class="comment"><h4><i class="fa-solid fa-comment"></i> 56 comment</h4></div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>