<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<head>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>

    <article>
        <div class="container mt-5 col-sm-12 col-md-8 col-md-8">
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                    <div class="card">
                        <div class="card-header bg-success text-white text-center">
                            <h2>Search for Flights</h2>
                        </div>
                        <div class="card-body">
                            <div class="radio">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="radio" name="tripType" value="oneway"> One-way</label>
                                        <label><input type="radio" name="tripType" value="roundtrip"> Round Trip</label>
                                    </div>
                                </div>
                                <form action="/showFlights" method="POST" data-sb-form-api-token="API_TOKEN">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="departure" name="origin" placeholder="Departure" data-sb-validations="origin:required">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="destination" name="destination" placeholder=" Destination" data-sb-validations="destination:required">
                                    </div>
                                    <div class="mb-3">
                                        <input type="date" class="form-control" id="departureDate" name="departureDate" data-sb-validations="departureDate:required">
                                    </div>
                                    <div class="mb-3" id="returnDateField" style="display: none;">
                                        <input type="date" class="form-control" id="returnDate" name="returnDate">
                                    </div>
                                    <div class="mb-3">
                                        <input type="number" class="form-control" placeholder="passengers" min="1" max="10" value="1">
                                    </div>
                                    <div class="mb-3">
                                        <select name="class" id="cars" class="form-control">
                                            <option value="Economy">Economy</option>
                                            <option value="Primum">Primum</option>
                                            <option value="Business">Business</option>
                                            <option value="First">First</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success w-100">Search Flights</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- IMAGE CAROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/pexels-137666-747079.jpg" class="d-block w-100" alt="First Image">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/pexels-ashutoshsonwani-1720957.jpg" class="d-block w-100" alt="Second Image">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/pexels-visionmonkeyandy-1034669.jpg" class="d-block w-100" alt="Third Image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Centered Header -->
    <div class="centered-header">
        <h2>Get deals you won't see anywhere else!</h2>
        <hr>
    </div>

    <!-- Card for the images of different cities -->
    <div class="card-group">
        <div class="card" data-aos="fade-down">
            <img src="/assets/img/italy (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Italy</h5>
                    <p class="card-text">$1000</p>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Istanbul, Antalya, Ephesus</small>
            </div>
        </div>
        <div class="card" data-aos="fade-down" data-aos-delay="200">
            <img src="/assets/img/Australia.jpg" class="card-img-top" alt="Australia image">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Australia</h5>
                    <p class="card-text">$1600</p>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Sydney, Melbourne, Canberra</small>
            </div>
        </div>
        <div class="card" data-aos="fade-down" data-aos-delay="400">
            <img src="/assets/img/Dubai.jpg" class="card-img-top" alt="Dubai Image">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Dubai</h5>
                    <p class="card-text">$345</p>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Abu Dhabi</small>
            </div>
        </div>
    </div>
   
<!-- journey of experience -->
    <div class="container1">
     
        <div class="card2">
            <!-- <img src="/public/assets/img/visa.jpeg" alt="Years of Experience"> -->
            <h2>Years of Experience</h2>
            <span class="counter" id="experienceCounter">28+</span>
        </div>
       
         <div class="card2">
           <!-- <img src="https://www.iconfinder.com/icons/3968551/group_team_users_people_icon" alt="Team Members"> -->
            <h2>Team Members</h2>
            <span class="counter" id="teamMembersCounter">600+</span>
        </div>
             
      
        <div class="card2">
            <!-- <img src="https://www.iconfinder.com/icons/1442859/user_client_person_icon" alt="Satisfied Clients"> -->
            <h2>Satisfied Clients</h2>
            <span class="counter" id="clientsCounter">800+</span>
        </div>
       
        <div class="card2">
            <!-- <img src="https://www.iconfinder.com/icons/1846860/delivery_shipping_delivery_truck_icon" alt="Delivered Packages"> -->
            <h2>Delivered Packages</h2>
            <span class="counter" id="packagesCounter">999+</span>
        </div>
        </div>
    </div>

    <!-- Footer-->
    <%- include('layouts/footer'); -%>

    
           <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
           <script>
        function toggleReturnDate() {
            const returnDateField = document.getElementById('returnDateField');
            const oneWayRadio = document.querySelector('input[name="tripType"][value="oneway"]');
            returnDateField.style.display = oneWayRadio.checked ? 'none' : 'block';
        }

        document.addEventListener('DOMContentLoaded', function () {
            toggleReturnDate();
            document.querySelectorAll('input[name="tripType"]').forEach(radio => {
                radio.addEventListener('change', toggleReturnDate);
            });
            AOS.init({
                duration: 1000, // duration of the animation in milliseconds
                once: true // whether animation should happen only once - while scrolling down
            });
        });

        let experienceCounter = document.getElementById("experienceCounter");
        let teamMembersCounter = document.getElementById("teamMembersCounter");
        let clientsCounter = document.getElementById("clientsCounter");
        let packagesCounter = document.getElementById("packagesCounter");

        let experienceCount = 28;
        let teamMembersCount = 600;
        let clientsCount = 800;
        let packagesCount = 999;

        function updateCounters() {
            experienceCounter.textContent = experienceCount++ + "+";
            teamMembersCounter.textContent = teamMembersCount++ + "+";
            clientsCounter.textContent = clientsCount++ + "+";
            packagesCounter.textContent = packagesCount++ + "+";
        }

        setInterval(updateCounters, 10); // Update counters every second

    </script>
</body>
</html>
