<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

<head>
    <link href="/css/main.css" type="text/css" rel="stylesheet" /> 
    <link href="/css/meals.css" type="text/css" rel="stylesheet">
</head>

<body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>

    <section class="container">
        <div class="brekfast">
            <h2>Breakfast</h2>
            <div class="d_flex">
                <div class="w_25">
                    <div class="box1">
                    </div>
                    <h3>idli sambar</h3>
                    <h5>Veg</h5>
                    <h6>10$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box2"></div>
                    <h3>mango jusie</h3>
                    <h5>Veg</h5>
                    <h6>3$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box3">.</div>
                    <h3>omlet</h3>
                    <h5>Non Veg</h5>
                    <h6>12$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box4">.</div>
                    <h3>smosa</h3>
                    <h5>Veg</h5>
                    <h6>5$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="lunch">
            <h2>Lunch</h2>
            <div class="d_flex">
                <div class="w_25">
                    <div class="box5">.</div>
                    <h3>Masala Bhindi </h3>
                    <h5>Veg</h5>
                    <h6>15$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box6">.</div>
                    <h3>Dahi Chicken </h3>
                    <h5>Non Veg</h5>
                    <h6>20$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box7">.</div>
                    <h3>kaju ki sabji </h3>
                    <h5>Veg</h5>
                    <h6>22$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box8">.</div>
                    <h3>dal makhani </h3>
                    <h5>Veg</h5>
                    <h6>15$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="dinner">
            <h2>Dinner</h2>
            <div class="d_flex">
                <div class="w_25">
                    <div class="box9">.</div>
                    <h3>Rajma chawal</h3>
                    <h5>Veg</h5>
                    <h6>10$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box10">.</div>
                    <h3>Chana masala  </h3>
                    <h5>Veg</h5>
                    <h6>11$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box11">.</div>
                    <h3>Paneer masala</h3>
                    <h5>Veg</h5>
                    <h6>14$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
                <div class="w_25">
                    <div class="box12">.</div>
                    <h3>Palak paneer</h3>
                    <h5>Veg</h5>
                    <h6>17$</h6>
                    <a href="/meals">
                        <button>Place Order</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
     <!-- Footer-->
     <%- include('layouts/footer'); -%>
     <%- include('layouts/scripts'); -%>
</body>
</html>