<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        <link href="/css/main.css" type="text/css" rel="stylesheet" /> 
        <link href="/css/Service.css" type="text/css" rel="stylesheet" /> 
        <script src="https://kit.fontawesome.com/da82c552d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <body>
            <section class="s1">
                <div class="bg_img">
                    <h1>What we gonna provide you?</h1>
                </div>
                <div class="container">
                    <div class="boxes">
                        <div class="d_flex">
                            <div class="box w_50">
                                <img src="/assets/img/meals.png" alt="meals">
                                <h2>Meals</h2>
                                <p>We have Two types available for meals like veg and non-veg.</p>
                                <a href="/meals"><button>Select meales <i class="fa-solid fa-arrow-right"></i></button></a>
                            </div>
                            <div class="box w_50">
                                <img src="/assets/img/pet-icon-2048x1951-obgfouky.png" alt="meals">
                                <h2>Pet friendly</h2>
                                <p>How many documents need for travel with your Pet in Airport?</p>
                                <a href="#terms"><button>Terms and condition <i class="fa-solid fa-arrow-right"></i></button></a>
                            </div>
                        </div>
                        <div class="d_flex">
                            <div class="box w_50">
                                <img src="/assets/img/167774.png" alt="meals">
                                <h2>Incredible deals</h2>
                                <p>we are make plan for you and you will get happiness in your journey.</p>
                                <button>See offers <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                            <div class="box w_50">
                                <img src="/assets/img/Customer_support.png" alt="meals">
                                <h2>Customer support</h2>
                                <p>Refund timeline , Charges , Payment Security, policies & processes </p>
                                <a href="#trouble"><button>Troubleshoot <i class="fa-solid fa-arrow-right"></i></button></a>
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>
            <section id="terms" class="s3">
                <div class="container">
                    <div class="box">
                        <div class="q1">1. Pet Carrier</div>
                        <div class="a1">Ans. Your pet must travel in a best and approved pet carrier that meets the airline’s size and ventilation requirements.</div>
                    </div>
                    <div class="box">
                        <div class="q2">2. Health Certificate
                            <div class="a2">Ans. You will need a health certificate for your pet, issued by a licensed veterinarian, within 10 days of travel.</div>
                        </div>
                        
                    </div>
                    <div class="box">
                        <div class="q3">3. Vaccinations</div>
                        <div class="a3">Ans. Your pet must be up-to-date on all necessary vaccinations, as required by the airline and destination country.</div>
                    </div>
                    <div class="box">
                        <div class="q4">4. Identification</div>
                        <div class="a4">Ans. Your pet must wear a collar with identification tags or have a microchip implanted.</div>
                    </div>
                    <div class="box">
                        <div class="q5">5. Travel Documents</div>
                        <div class="a5">Ans. You will need to provide proof of ownership and identification for your pet, such as a registration certificate or microchip documentation.</div>
                    </div>
                    <div class="box">
                        <div class="q6">6. Airline Approval</div>
                        <div class="a6">Ans. Check with your airline for their specific pet travel policies, fees, and requirements.
                            Additional Requirements
                            </div>
                    </div>
                </div>
            </section>
            <section id="trouble" class="s2">
                <div class="container">
                    <div class="d_flex">
                        <div class="box w_50">
                            <h1>Refund</h1>
                            <p>
                                Cancelled Airline Flight: If your flight gets canceled and you haven’t used the chosen paper
                                transportation or travel credits, you can request a refund.
                                <br><br>
                                Significant Flight Changes: If your flight departure or arrival time changes by more than 3 hours
                                (or 6 hours for international flights), you may be eligible for a refund. Contact the airline to
                                inquire about the process.
                            </p>
                        </div>
                        <div class="box w_50">
                            <h1>Booking Receipts</h1>
                            <p>
                                Check Your Email: After making the booking, check your email inbox. typically sends a confirmation
                                email that serves as your receipt.
                                <br><br>
                                Contact Customer Service: If you haven’t received an email confirmation, you can contact customer
                                service. They can resend your confirmation email or provide additional assistance.
                                <br><br>
                                Invoice for Flights: If you need an invoice specifically for flights, you can request it by
                                contacting directly. They will guide you on the process.
                            </p>
                        </div>
                    </div>
                    <div class="d_flex">
                        <div class="box w_50">
                            <h1>Payment and security</h1>
                            <p>
                                1. Sign in to your account.
                                <br><br>
            
                                2. At the top-right hand of the page select your name and then select Account.
                                <br><br>
                                3. Select Payment Methods.
                                <br><br>
                                4. Fill in the required fields, then select Save.
                            </p>
                        </div>
                        <div class="box w_50">
                            <h1>pending charges</h1>
                            <p>1. Check your bank account balance 5 to 7 days after you booked your trip.
                                <br><br>
                                2. If the authorization charge is still there, contact your bank to release the funds.
                                <br><br>
                                3. If you made several bookings and have multiple authorization charges, the bank may lock your
                                account. In this case, contact your bank to unlock your account.
            
            
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
        </body>

        <!-- Footer-->
        <%- include('layouts/footer'); -%> 
        <%- include('layouts/scripts'); -%>
</html>
