<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
    <head>
        <link href="/css/main.css" type="text/css" rel="stylesheet" /> 
        <link href="/css/Service.css" type="text/css" rel="stylesheet" /> 
    </head>
    <body>
        </body>
        <section class="s1">
            <div class="bg_img">
                <h1>What we gonna provide you?</h1>
            </div>
            <div class="container">
                <div class="boxes">
                    <div class="d_flex">
                        <div class="box w_50">
                            <img src="img/meals.png" alt="meals">
                            <h2>Meals</h2>
                            <p>We have Two types available for meals like veg and non-veg.</p>
                            <a href="meals.html"><button>Select meales <i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                        <div class="box w_50">
                            <img src="img/pet-icon-2048x1951-obgfouky.png" alt="meals">
                            <h2>Pet friendly</h2>
                            <p>How many documents need for travel with your Pet in Airport?</p>
                            <a href="tac.html"><button>Terms and condition <i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </div>
                    <div class="d_flex">
                        <div class="box w_50">
                            <img src="img/167774.png" alt="meals">
                            <h2>Incredible deals</h2>
                            <p>we are make plan for you and you will get happiness in your journey.</p>
                            <button>See offers <i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        <div class="box w_50">
                            <img src="img/Customer_support.png" alt="meals">
                            <h2>Customer support</h2>
                            <p>Refund timeline , Charges , Payment Security, policies & processes </p>
                            <a href="support.html"><button>Troubleshoot <i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        </body>

        <!-- Footer-->
        <%- include('layouts/footer'); -%> 
        <%- include('layouts/scripts'); -%>
</html>
