<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and condition</title>
    <link rel="stylesheet" href="/css/tac.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="q1">1. Pet Carrier</div>
            <div class="a1">Ans. Your pet must travel in a best and approved pet carrier that meets the airline’s size and ventilation requirements.</div>
        </div>
        <div class="box">
            <div class="q2">2. Health Certificate
                <div class="a2">Ans. You will need a health certificate for your pet, issued by a licensed veterinarian, within 10 days of travel.</div>
            </div>
            
        </div>
        <div class="box">
            <div class="q3">3. Vaccinations</div>
            <div class="a3">Ans. Your pet must be up-to-date on all necessary vaccinations, as required by the airline and destination country.</div>
        </div>
        <div class="box">
            <div class="q4">4. Identification</div>
            <div class="a4">Ans. Your pet must wear a collar with identification tags or have a microchip implanted.</div>
        </div>
        <div class="box">
            <div class="q5">5. Travel Documents</div>
            <div class="a5">Ans. You will need to provide proof of ownership and identification for your pet, such as a registration certificate or microchip documentation.</div>
        </div>
        <div class="box">
            <div class="q6">6. Airline Approval</div>
            <div class="a6">Ans. Check with your airline for their specific pet travel policies, fees, and requirements.
                Additional Requirements
                </div>
        </div>
    </div>
</body>
</html>