.table-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    margin-bottom: 0;
    background-color: #fff;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.table-striped thead {
    background-color: #61a1e1;
    color: #fff;
}

.table-striped th,
.table-striped td {
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}
